<!DOCTYPE html>
<html>
  <head>
    <title>Admin :: {{title}}</title>
    <link rel='stylesheet' href='/admin/css/style.css' />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,700" rel="stylesheet">
  </head>
  <body>
    {{> header }}
    {{> menu }}
    <article class="site-max-width">
      {{{body}}}
    </article>
    {{> footer }}
  </body>
</html>
