<div class="form-holder">
    <h1>{{title}}</h1>
    <form action="/admin/" method="post">
        <input type="text" name="username"/><br/>
        <input type="password" name="password"/><br/>
        <button type="submit">Login</button>
    </form>
</div>
