* {
  box-sizing: border-box;
}

body, html{
  padding: 0;
  margin: 0;
}

body {
  color: #212121;
  font: 400 16px/24px Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding-top: 50px;
  background: #369;
}

.form-holder {
  background: #fff;
  width: 250px;
  padding: 30px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  input, button {
    height: 28px;
    width: 100%;
    padding: 5px;
  }
  input {
    margin-bottom: 10px;
  }
}
